@font-face {
    font-family: 'Inter';
    src: url('/local/templates/site_template/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/local/templates/site_template/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
    font-stretch: 75% 125%;
    font-display: swap;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}